# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/nebula-core
!web/app/mu-plugins/nebula-blocks
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Themes
web/app/themes/twentytwentyfour

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Node modules
node_modules

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# OS & Project files
web/.user.ini
.DS_Store
.idea

# Caching and performance
web/app/cache
web/app/advanced-cache.php
web/app/object-cache.php
web/app/db.php
