# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/vendor/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# OS & Project files
.DS_Store
.idea

# Caching and performance
web/app/cache
web/app/advanced-cache.php
web/app/wp-rocket-config
web/app/webp-express
